.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
  }
  
  .game-container {
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    transition: transform .2s;
    max-width: 400px;
    max-height: 800px;
  }
  
  .game-container:hover {
    transform: scale(1.05);
  }
  
  .game-image {
    width: 100%;
    height: auto;
  }
.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 2rem;
  width: 80%;
  max-width: 600px;
  border-radius: 4px;
  outline: none;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}