.navbar-custom {
  padding: 10px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.search-input {
  width: 200px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

.sort-select {
  margin-left: 10px;
  width: 150px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

.add-game-btn {
  margin-left: 10px;
}
.Sign-in-btn {
  margin-left: auto;
  width: 100px;
}